<div id="<%= dom_id movielist %>">
  <p>
    <strong class="content">Name:</strong>
    <%= movielist.name %>
  </p>

  <p>
    <strong class="content">Description:</strong>
    <%= movielist.description %>
  </p>

  <p>
    <strong class="content">Director:</strong>
    <%= movielist.director %>
  </p>

  <p>
    <strong class="content">Language:</strong>
    <%= movielist.languagestring %>
  </p>

</div>
