<div id="<%= dom_id movielist %>">
  <p>
    <strong>Name:</strong>
    <%= movielist.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= movielist.description %>
  </p>

  <p>
    <strong>Director:</strong>
    <%= movielist.director %>
  </p>

  <p>
    <strong>Languagestring:</strong>
    <%= movielist.languagestring %>
  </p>

</div>
